.panel {
	position: fixed;
	top: 0;
	left: -615px;
	z-index: 1000;
	width: 615px;
	height: 100vh;
	overflow-y: auto;
	background: white;
	box-shadow: 2px 0 10px rgb(0 0 0 / 10%);
	transition: left 0.3s ease-in-out;

	&_open {
		left: 0;
	}
}

.panelContent {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	height: 100%;
	padding: 30px;
}

.title {
	margin: 0 0 30px;
	color: #333333;
	font-weight: bold;
	font-size: 24px;
}

.form {
	display: flex;
	flex: 1;
	flex-direction: column;
	gap: 25px;
}

.formGroup {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.label {
	margin: 0;
	color: #333333;
	font-weight: 600;
	font-size: 16px;
}

.buttons {
	display: flex;
	gap: 15px;
	margin-top: auto;
	padding-top: 30px;

	& > * {
		flex: 1;
	}
}

.overlay {
	position: fixed;
	inset: 0;
	z-index: 999;
	background: rgb(0 0 0 / 30%);
}
